.hyper_links {
    /* background: blue; */
    display: flex;
    width: 100%;
    justify-content: space-around;
    Padding: 1rem;
}

.button_style {
    background: black;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 8px 16px;
}

/* body {
background-image: url("brick.jpg");
background-size: cover;

} */
.selfie {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    padding: 2rem;

}
.main {
    padding: 2rem;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
}

.first {
   width: 75%;
   background: blue;
   padding: 1rem;
}
.second {
    width: 75%;
    background: blue;
    padding: 1rem;
}
.third {
    width: 75%;
    background: blue;
    padding: 1rem;
} 


@media screen and (min-width: 768px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }}