.hyper_links {
    /* background: blue; */
    display: flex;
    width: 100%;
    justify-content: space-around;
    Padding: 1rem;
}
.button_style {
    background: black;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 8px 16px;
}