
.title {
    /* display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-grow: 1; */
    padding: 2rem;
    /* flex-direction: column; */
    background: yellow;
}

.first_project {
    background: pink;
    padding: 1rem;
}

.store_interior {
    /* display: flex; */
    /* justify-content: space-around; */
    /* align-items: flex-end; */
    padding: 2rem;
    /* flex-direction: row; */
    background: chartreuse;
}

.garden_links {
    background: beige;
}
.hyper_links {
    background: blue;
    display: flex;
    width: 100%;
    justify-content: space-around;
    Padding: 1rem;
}

.button_style {
    background: black;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 8px 16px;
}

.button_style:hover {
    background: gold;
}

@media screen and (min-width: 768px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: red;

    }
}