.container {
    /* background: yellow; */
    padding: 1rem;
}

.resume_header {
    /* background: greenyellow; */
    padding: 1rem;
}

.employment_history {
    /* background: #fd7bd2; */
    padding: 1rem;
}

.thr {
    /* background: #32fda6; */
}

.njp_manager {
    /* background: #449bfc; */
}

.njp_asst_manager {
    /* background: #fd935b; */
}

.dsg {
    /* background: red; */
}

.title_closer {
    /* background: grey; */
}

.wuhefcu {
    /* background: beige; */
}

.net4music {
    /* background: purple; */
}

.education {
    /* background: #32fafe; */
    padding: 1rem;
    width: 100%;
}
.hyper_links {
    /* background: blue; */
    display: flex;
    width: 100%;
    justify-content: space-around;
    Padding: 1rem;
}

.button_style {
    background: black;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 8px 16px;
}
.button_style:hover {
    background: gold;
}

@media screen and (min-width: 768px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }}

